# ignore original authentication file, copy the example instead
SunriseSirenFirmware/Authentication.h

# ignore VSCode related stuff
.vscode

# ignore Glade messing around a bit with the files
*.glade~
\#*.glade#

# ignore Sunrise Siren Studio builds
sunrise-siren-studio

# ignore UI files, since the Makefile will generate them
UI.h
