#define HOSTNAME "sunrisesiren3000"

#define AP_NAME "Sunrise Siren 3000"
#define HTTP_USERNAME "<HTTP AUTHENTICATION USERNAME HERE>"
#define HTTP_PASSWORD "<HTTP AUTHENTICATION PASSWORD HERE>"
#define OTHER_PASSWORD "<AP/OTA PASSWORD HERE>"
